<% layout('../layouts/list') -%>
<div class="row ">
    <div class="col-md-12">
        <div class="card bg-transparent">
            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                <div class="contact-header-left media-body d-flex align-items-center mr-4 col-6">
                    <!-- Add New Contact Btn -->
                    <div class="add-new-contact mr-20">
                        <div class="float-left">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="">Notification</a></li>
                                <!-- <li class="breadcrumb-item active"><a href="">List</a></li> -->
                            </ol>
                        </div>
                    </div>
                    <!-- End Add New Contact Btn -->
                    
                    
                    <!-- End Search Form -->
                </div>
               
            </div>
         </div>
        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title mb-30">Notification List</h4>
                <table class="table nowrap" id="notification-datatable">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Email</th>
                        <th>Title</th>
                        <th>Discription</th>
                        
                    </tr>
                        
                    </thead>
                    <tbody></tbody>
                </table>
              </div>
        </div>
    </div>
</div>