<% layout('layouts/notAuthorized') -%>
<div class="" style="margin-top: -90px;">
    <div class="mt-auto"  >
    <h4 class="mb-5 font-20 text-center"><%=name%></h4>
   
    <!-- End Form Group -->
    <!-- <p class="p-4" ><%=content%></p> -->
    <%-content%>

</div>
 
    <!-- End Form Group -->

  
    <!-- <div class="mb-30">
        <a href="#" class="light-btn mr-3 mb-20">Log In With Facebook</a>
        <a href="#" class="light-btn style--two mb-20">Log In With Gmail</a>
    </div> -->

  </div>  