<% layout('layouts/notAuthorized') -%>
<div >
    <br>
    <div class="" style="margin-top: -90px;">
        <div class="mt-auto"  >
            <h4 class="mb-5 font-30 text-center"><%=name%></h4>
            <img src="https://timeowner.xyz/public/uploads/support.png" alt="Girl in a jacket" width="500" height="600">
   
    <p class="font-20"><%-content%></p>
 <br><br>
    <a href="mailto:someone@example.com" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Send email</a>


</div>
  </div> 
   </div>